.App {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5% 95.5%;
}

.bottom-block {
  position: absolute;
  bottom: 2%;
  right: 0;
  width: 70%;
  height: 2px;
  z-index: 5;
  background-color: white;
}

.second-block {
  position: absolute;
  bottom: 6%;
  right: 0;
  width: 50%;
  height: 1px;
  z-index: 5;
  background-color: white;
}

nav {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 40%;
  z-index: 10;
  margin: 0 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* nav option */
nav > a {
  width: auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0);
  font-size: 1.7rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.35);
  transition: padding 750ms ease-in-out, background 500ms ease-in-out, color 500ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

nav > a:hover {
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0.75);
  color: black;
}

nav > a.selected {
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0.35);
  color: white;
}

.canvas-cntr {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.content-cntr {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: stretch;
  width: 65%;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* content pages */
.page-cntr {
  margin: 3rem 0;
  padding: 3rem;
  border: 1px solid white;
  box-shadow:
    0 0 5.2px rgba(0, 0, 0, 0.155),
    0 0 12.5px rgba(0, 0, 0, 0.222),
    0 0 23.5px rgba(0, 0, 0, 0.275),
    0 0 42px rgba(0, 0, 0, 0.328),
    0 0 78.5px rgba(0, 0, 0, 0.395),
    0 0 188px rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(30px);
}

.page-cntr > h1 {
  padding-bottom: 2rem;
  border-bottom: 1px dashed white;
  font-size: clamp(48px, 5vw, 72px);
  line-height: 2.5rem;
}

.page-cntr > p {
  font-size: clamp(12px, 3vw, 24px);
  line-height: 2.5rem;
}

.title-cntr {
  justify-self: center;
  align-self: center;
  width: 100%;
  z-index: 1;
  text-align: left;
  color: white;
}

.title-cntr > h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: 200;
  line-height: 7rem;
}

.title-cntr > h3 {
  padding-top: 5vh;
  border-top: 3px dashed rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  font-weight: 100;
}

/* blinking cursor animation */
.blinking-cursor:after {
  content: '|';
  color: white;
  animation: blink 925ms infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* about screen */
.about-img {
  width: 16%;
  margin: 2rem 42%;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 90%;
    margin: 0 5%;
  }

  nav > a {
    padding: 0;
    font-size: 4vw;
    transition: none;
  }

  nav > a.selected {
    padding: 0 1vw;
  }

  .title-cntr > h1 {
    font-size: 12vw;
    line-height: 12vw;
  }

  .title-cntr > h3 {
    margin: 3vh 0 0 0;
    padding-top: 2.5vh;
    font-size: 6vw;
  }

  .content-cntr {
    width: 80%;
  }

  .page-cntr > h1 {

  }

  .page-cntr > p {
    font-size: clamp(1rem, 4vw, 2rem);
  }
}